<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Concessionária</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a *ngIf="identity" class="nav-item nav-link" href="#">Novo carro</a>
                </div>
                <div class="navbar-nav float-right" *ngIf="!identity">
                    <a class="nav-item nav-link active" [routerLink]="['login']" >Login</a>
                    <a class="nav-item nav-link" [routerLink]="['registro']">Registro</a>
                </div>

                <div class="navbar-nav float-right" *ngIf="identity">
                    <a class="nav-item nav-link active" [routerLink]="['login']" >{{identity.name + ' ' + identity.lastname}}</a>
                    <a class="nav-item nav-link" [routerLink]="['logout', 1]">Sair</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>


