<div class="container">
  <br>
  <h4 class="text-center">{{title}}</h4>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Registro criado com sucesso,
    <a [routerLink]="['/login']">faça o login</a>
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'">
  Seu registro não foi criado! Tente novamente.
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="offset-3 col-6">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
      <small *ngIf="!name.valid && name.touched">Campo nome é obrigatório</small>

    </div>

    <div class="form-group">
      <label for="lastname">Username</label>
      <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" required>
      <small *ngIf="!lastname.valid && lastname.touched">Campo Username é obrigatório</small>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
      <small *ngIf="!email.valid && email.touched">Campo Email é obrigatório</small>
    </div>

   <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
      <small *ngIf="!password.valid && password.touched">
        Campo Senha é obrigatório
      </small>
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
  </form>

</div>